{% extends 'base.html' %}
{% load static %}

{% block head %}

  <script src="{% static 'home.js' %}"></script>

{% endblock head %}
{% block content %}

<h1>Posts</h1>
<div>
  <a href={% url 'post-new' %}>Add new</a>
</div>
{% if posts %}
<ul>
  {% for post in posts %}
    <li>
        <strong>{{post.name}}</strong>
        <div>
            {{post.text}}
        </div>
        <a href="{% url 'post-details' post.id %}">Details</a>
    </li>
  {% endfor %}
</ul>
<div>
  <a href={% url 'post-new' %}>Add new</a>
</div>
{% endif %}
<p>
  Contributing usernames:
</p>
<ul>
{% for user in users %}
  <li>{{user.username}} with {{user.nm_posts}} posts</li>
{% endfor %}
</ul>
{% endblock content %}