{% extends 'base.html' %}
{% load static %}

{% block head %}

  <script src="{% static 'home.js' %}"></script>

{% endblock head %}
{% block content %}

<h1>Homepage</h1>
<div>
  <a href={% url 'post-new' %}>Add new</a>
</div>
<ul>
  {% for post in posts %}
    <li>
        <h2>{{post.name}}</h2>
        <div>
            {{post.text}}
        </div>
        <a href="{% url 'post-details' post.id %}">Details</a>
    </li>
  {% endfor %}
</ul>
<div>
  <a href={% url 'post-new' %}>Add new</a>
</div>
{% endblock content %}