{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock head %}
{% block content %}


<ul class="list-unstyled">
    {% for p in playlists %}
    <li class="media my-1">
        <img src="https://picsum.photos/128/128" class="rounded float-left mr-2 ml-1">
        <div class="media-body">
            <div>
                <h5 class="mt-0 mb-1">{{p.name}}</h5>
                some song list, la, la, la ...
            </div>
            <button type="button" class="btn btn-dark">Play</button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}